<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center;">
      <h3>Inventory</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span (click)="addNewPost()" class="btn btn-primary btn-xs">Add New Inventory</span>
      <br /><br />
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Stock</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of inventoryList  |paginate: config">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.price}}</td>
              <td>{{item.status}}</td>
              <td>{{item.stock }}</td>
              <td><span class="btn btn-primary btn-xs" (click)="editPost(item.id)">
                  <span class="material-icons">
                    edit
                  </span></span></td>
              <td><span class="btn btn-danger btn-xs" (click)="deletePost(item.id,item.name)">
                  <span class="material-icons">
                    delete
                  </span>

                </span></td>
            </tr>
          </tbody>
        </table>
        <div class="paginate">
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>

      </div>
    </div>
  </div>
</div>